.side-bar {
    width: 350px;

    border-right: 1px solid $border-color;

    .header {
        padding: 12px 16px;
        font-weight: 700;

        border-bottom: 1px solid $border-color;
    }

    .directories {
        overflow-y: scroll;
        height: calc(100% - 40px);

        .directory {
            padding: 0 16px;
    
            &:first-child {
                padding-top: 6px;
            }
    
            .folder {
                padding: 2px 0;
    
                .folder-name {
                    padding: 2px 0;
    
                    display: flex;
                    flex-direction: row;
                    
                    width: 100%;
    
                    &:hover {
                        cursor: pointer;
                    }
    
                    .icon, .name {
                        vertical-align: middle;
                        display: inline-block;
    
                        height: 15px;
                    }
    
                    .icon {
                        svg{
                            &.open {
                                transform: rotate(90deg);
                            }
                        }
                    }
    
                    .name {
                        white-space: nowrap;
                        margin-bottom: 2px;
                    }
                }
    
                ul {
                    margin-left: 19px;
    
                    display: none;

                    padding-top: 4px;
                }
    
                &.open {
                    > ul {
                        display: block;
                    }
                }
            }
    
            .file {
                padding: 4px 0;
                margin-left: 15px;
            }
        }
    }
    
}